<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tonyetienne.gotomeeting.tools</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1F28D3D3-4694-4131-8168-BFE9070704B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>356D8CF3-DEAD-456B-B39C-5FE109D7B341</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>23E80B07-D84F-4697-B143-2AD89217FC4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>356D8CF3-DEAD-456B-B39C-5FE109D7B341</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>356D8CF3-DEAD-456B-B39C-5FE109D7B341</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>667407DB-D644-428B-9535-C0010F76788B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>390E0C67-CB6A-4DD2-A7EE-1863AA26B8CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E727750-5F09-44DD-A6AA-E383E313D03C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>40DAF53E-964C-4683-8767-87928F86AE81</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4ABB8BA0-E444-4C5F-BD33-DB0CB25AC478</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>47E07F5D-D29E-4910-A0A1-8C705D24AA4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>667407DB-D644-428B-9535-C0010F76788B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4ABB8BA0-E444-4C5F-BD33-DB0CB25AC478</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>667407DB-D644-428B-9535-C0010F76788B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55285624-82D1-4F88-BAAE-2B5605485666</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>668F7DA5-E95F-4E85-BE7B-531BCE3245A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>667407DB-D644-428B-9535-C0010F76788B</key>
		<array/>
		<key>668F7DA5-E95F-4E85-BE7B-531BCE3245A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>67E89A9D-B1B4-4917-B763-0FF9F0A0A90B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>67E89A9D-B1B4-4917-B763-0FF9F0A0A90B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23E80B07-D84F-4697-B143-2AD89217FC4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>667407DB-D644-428B-9535-C0010F76788B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E727750-5F09-44DD-A6AA-E383E313D03C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4ABB8BA0-E444-4C5F-BD33-DB0CB25AC478</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76928077-A756-4405-9D46-73376A4CB956</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>667407DB-D644-428B-9535-C0010F76788B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>902B3E12-CEEE-4B19-B2A3-F6C5162481BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A538CD01-0611-433C-9B77-4FABC2BE4876</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A538CD01-0611-433C-9B77-4FABC2BE4876</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4ABB8BA0-E444-4C5F-BD33-DB0CB25AC478</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE6169BE-CF5E-434D-8E47-8C57BBB50076</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E53F2BA0-D67A-4D5D-9BE7-D4D15C9D432D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D085D50A-867A-4B0A-9226-F82C2B85DB4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76928077-A756-4405-9D46-73376A4CB956</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E53F2BA0-D67A-4D5D-9BE7-D4D15C9D432D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>667407DB-D644-428B-9535-C0010F76788B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8E7B7D5-96D3-4385-B6B8-E07286FA00EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F28D3D3-4694-4131-8168-BFE9070704B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F07F58D1-A3C7-4D18-B45D-2C5ACAFEC746</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47E07F5D-D29E-4910-A0A1-8C705D24AA4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE08C0D7-8F82-420B-9F8D-AB9AAAEB51FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>40DAF53E-964C-4683-8767-87928F86AE81</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tony Etienne</string>
	<key>description</key>
	<string>GoToMeeting phonebook and launcher</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GoToMeeting Tools</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python goto_helper.py create "{query}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>goto_add.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>356D8CF3-DEAD-456B-B39C-5FE109D7B341</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>go add</string>
				<key>subtext</key>
				<string>Enter a description followed by a GotoMeeting line number</string>
				<key>text</key>
				<string>Add a new GotoMeeting Phonebook entry</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E8E7B7D5-96D3-4385-B6B8-E07286FA00EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "create {query}",
    "config" : {
    },
    "variables" : {
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>1F28D3D3-4694-4131-8168-BFE9070704B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "override {query}",
    "config" : {
    },
    "variables" : {
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>23E80B07-D84F-4697-B143-2AD89217FC4E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>gotomeeting://SALaunch?Action=Join&amp;MeetingID={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>76928077-A756-4405-9D46-73376A4CB956</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>8</integer>
				<key>keyword</key>
				<string>go join</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>please wait</string>
				<key>script</key>
				<string>python goto_read.py read "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>goto_helper.py</string>
				<key>subtext</key>
				<string>Enter a line or name to join</string>
				<key>title</key>
				<string>Join a GotoMeeting</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D085D50A-867A-4B0A-9226-F82C2B85DB4E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>667407DB-D644-428B-9535-C0010F76788B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>8</integer>
				<key>keyword</key>
				<string>go update</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>please wait</string>
				<key>script</key>
				<string>python goto_read.py update "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>goto_helper.py</string>
				<key>subtext</key>
				<string>Enter a name to modify</string>
				<key>title</key>
				<string>Update GotoMeeting Phonebook Entry</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>55285624-82D1-4F88-BAAE-2B5605485666</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>8</integer>
				<key>keyword</key>
				<string>update</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>please wait</string>
				<key>script</key>
				<string>python goto_update.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>goto_helper.py</string>
				<key>subtext</key>
				<string>add the new line number after the old one</string>
				<key>title</key>
				<string>Update GotoMeeting Phonebook Entry</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>67E89A9D-B1B4-4917-B763-0FF9F0A0A90B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>update {query} </string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>668F7DA5-E95F-4E85-BE7B-531BCE3245A5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>8</integer>
				<key>keyword</key>
				<string>go delete</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>please wait</string>
				<key>script</key>
				<string>python goto_read.py delete "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>goto_helper.py</string>
				<key>subtext</key>
				<string>Enter a line or name to remove</string>
				<key>title</key>
				<string>Delete GotoMeeting Phonebook Entry</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F07F58D1-A3C7-4D18-B45D-2C5ACAFEC746</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>8</integer>
				<key>script</key>
				<string>python goto_delete.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>47E07F5D-D29E-4910-A0A1-8C705D24AA4E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>Join my GotoMeeting: https://global.gotomeeting.com/host/{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E53F2BA0-D67A-4D5D-9BE7-D4D15C9D432D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>8</integer>
				<key>keyword</key>
				<string>go share</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>please wait</string>
				<key>script</key>
				<string>python goto_read.py read "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>goto_helper.py</string>
				<key>subtext</key>
				<string>Enter a line or name to share</string>
				<key>title</key>
				<string>Share a GotoMeeting link</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BE6169BE-CF5E-434D-8E47-8C57BBB50076</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>go backup</string>
				<key>subtext</key>
				<string>This will overwrite your phonebook with the backup in your home directory.</string>
				<key>text</key>
				<string>Back up your phonebook to a safe place</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>902B3E12-CEEE-4B19-B2A3-F6C5162481BA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>8</integer>
				<key>script</key>
				<string>python goto_backupRestore.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4ABB8BA0-E444-4C5F-BD33-DB0CB25AC478</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "backup",
    "config" : {
    },
    "variables" : {
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>A538CD01-0611-433C-9B77-4FABC2BE4876</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>go import</string>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~</string>
				</array>
				<key>subtext</key>
				<string>This action will OVERWRITE your current phonebook.</string>
				<key>title</key>
				<string>Import a comma-separated csv</string>
				<key>types</key>
				<array>
					<string>public.comma-separated-values-text</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>390E0C67-CB6A-4DD2-A7EE-1863AA26B8CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "import {query}",
    "config" : {
    },
    "variables" : {
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>6E727750-5F09-44DD-A6AA-E383E313D03C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>go restore</string>
				<key>subtext</key>
				<string>This will overwrite your phonebook with the backup in your home directory.</string>
				<key>text</key>
				<string>Restore a previous phonebook backup</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FE08C0D7-8F82-420B-9F8D-AB9AAAEB51FB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "restore",
    "config" : {
    },
    "variables" : {
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>40DAF53E-964C-4683-8767-87928F86AE81</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1F28D3D3-4694-4131-8168-BFE9070704B0</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>23E80B07-D84F-4697-B143-2AD89217FC4E</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>356D8CF3-DEAD-456B-B39C-5FE109D7B341</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>390E0C67-CB6A-4DD2-A7EE-1863AA26B8CF</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>40DAF53E-964C-4683-8767-87928F86AE81</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>900</integer>
		</dict>
		<key>47E07F5D-D29E-4910-A0A1-8C705D24AA4E</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>4ABB8BA0-E444-4C5F-BD33-DB0CB25AC478</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>55285624-82D1-4F88-BAAE-2B5605485666</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>667407DB-D644-428B-9535-C0010F76788B</key>
		<dict>
			<key>xpos</key>
			<integer>1060</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>668F7DA5-E95F-4E85-BE7B-531BCE3245A5</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>67E89A9D-B1B4-4917-B763-0FF9F0A0A90B</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>6E727750-5F09-44DD-A6AA-E383E313D03C</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>780</integer>
		</dict>
		<key>76928077-A756-4405-9D46-73376A4CB956</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>902B3E12-CEEE-4B19-B2A3-F6C5162481BA</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>A538CD01-0611-433C-9B77-4FABC2BE4876</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>BE6169BE-CF5E-434D-8E47-8C57BBB50076</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>D085D50A-867A-4B0A-9226-F82C2B85DB4E</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>E53F2BA0-D67A-4D5D-9BE7-D4D15C9D432D</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>E8E7B7D5-96D3-4385-B6B8-E07286FA00EE</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>F07F58D1-A3C7-4D18-B45D-2C5ACAFEC746</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>FE08C0D7-8F82-420B-9F8D-AB9AAAEB51FB</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>870</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/plongitudes/GoToMeetingTools</string>
</dict>
</plist>
